*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/.ninja_deps
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
/fs_ipneigh30/.cxx/cmake/debug/x86/.ninja_deps
/fs_ipneigh30/.cxx/cmake/debug/x86_64/.ninja_deps
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/.ninja_log
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/.ninja_log
/fs_ipneigh30/.cxx/cmake/debug/x86/.ninja_log
/fs_ipneigh30/.cxx/cmake/debug/x86_64/.ninja_log
/acsbt/build/.transforms/1b7196cbc954d4d2bfb26bba09541a2f.bin
/acsbt/build/.transforms/1d0d6384e0a07d5e57c0170ff7418680.bin
/acsbt/build/.transforms/2ac94e84a6935c02ab1cf0d5557ebb8d.bin
/acsbt/build/.transforms/3b61a8648e8a3a09d0bd28ba98b6807f.bin
/acsbt/build/.transforms/3da78177bdd2e5a4c3850a3ff57cd0b2.bin
/acsbt/build/.transforms/3e2de3139c739e4f537381e9212147c9.bin
/acsbt/build/.transforms/4c70e515baf9d093aab3810d7a0987bb.bin
/acsbt/build/.transforms/5b8f95124ea887b6b6597939404edf6d.bin
/acsbt/build/.transforms/8aef0c2d0a50eeaf954d13cab3bb044b.bin
/acsbt/build/.transforms/8f6ac79cf49373fc758fb14d4e804343.bin
/acsbt/build/.transforms/09c208f4f9c95e0cf29989a2de5c9692.bin
/acsbt/build/.transforms/45d218b15446d779bc6f63d932d9e0de.bin
/acsbt/build/.transforms/45de60761e2c3d61c645c7bca2ae67e3.bin
/acsbt/build/.transforms/86a4d1905428fc666b0b222e088af0e8.bin
/acsbt/build/.transforms/96d838157a0810d83a72122e6c026ff1.bin
/acsbt/build/.transforms/98f8031c59696546945d79d2973ab2cb.bin
/acsbt/build/.transforms/193d7082946ba640383d1bcebd01651d.bin
/acsbt/build/.transforms/212c8398a8879bfabf786ef075d47f0d.bin
/acsbt/build/.transforms/427c700cfe0d99e889d027c8a1ebbd43.bin
/acsbt/build/.transforms/524f4e177c3bb0e9243fa6c41f2c833d.bin
/acsbt/build/.transforms/636c6d67ca6bc1b06b75839da51a3a4f.bin
/acsbt/build/.transforms/844f3fd864058397de1b90e9de0bc56d.bin
/acsbt/build/.transforms/921f6e319cc4bd535c96ffbb192bb121.bin
/acsbt/build/.transforms/959ee5470ce09af6c7aaa559d3b2a93d.bin
/acsbt/build/.transforms/2895d08130421d4c3c367df5f0f64880.bin
/acsbt/build/.transforms/6990c05d47db9c5a2ca4b109dc821c62.bin
/acsbt/build/.transforms/9745acc8c89f7ee5f9eda876eeb743ee.bin
/acsbt/build/.transforms/31495eeee76a99daa3ecba081014ac1b.bin
/acsbt/build/.transforms/9024607fc6568365d0911505bc7061e2.bin
/acsbt/build/.transforms/a32db1f89dd5b29e65665f094c8a6486.bin
/acsbt/build/.transforms/a35dbe28c6200245b005993cb8bf4d43.bin
/fs_ipneigh30/.cxx/abi_configuration_2p2q549q.json
/fs_ipneigh30/.cxx/abi_configuration_2p2q549q.log
/fs_ipneigh30/.cxx/abi_configuration_2p2q549q_key.json
/fs_ipneigh30/.cxx/abi_configuration_3b37632u.json
/fs_ipneigh30/.cxx/abi_configuration_3b37632u.log
/fs_ipneigh30/.cxx/abi_configuration_3b37632u_key.json
/acsbt/build/.transforms/add774375a91aeddabe5dddc0fbe8fcd.bin
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
/fs_ipneigh30/.cxx/cmake/debug/x86_64/android_gradle_build.json
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/android_gradle_build_command_fs_ipneigh30-android_arm64-v8a.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_command_fs_ipneigh30-android_armeabi-v7a.txt
/fs_ipneigh30/.cxx/cmake/debug/x86/android_gradle_build_command_fs_ipneigh30-android_x86.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/android_gradle_build_command_fs_ipneigh30-android_x86_64.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
/fs_ipneigh30/.cxx/cmake/debug/x86_64/android_gradle_build_mini.json
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/android_gradle_build_stderr_fs_ipneigh30-android_arm64-v8a.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_stderr_fs_ipneigh30-android_armeabi-v7a.txt
/fs_ipneigh30/.cxx/cmake/debug/x86/android_gradle_build_stderr_fs_ipneigh30-android_x86.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/android_gradle_build_stderr_fs_ipneigh30-android_x86_64.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/android_gradle_build_stdout_fs_ipneigh30-android_arm64-v8a.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_stdout_fs_ipneigh30-android_armeabi-v7a.txt
/fs_ipneigh30/.cxx/cmake/debug/x86/android_gradle_build_stdout_fs_ipneigh30-android_x86.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/android_gradle_build_stdout_fs_ipneigh30-android_x86_64.txt
/acsbt/build/.transforms/2ac94e84a6935c02ab1cf0d5557ebb8d/jetified-acsbt-1.0.1/AndroidManifest.xml
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/build.ninja
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/build.ninja
/fs_ipneigh30/.cxx/cmake/debug/x86_64/build.ninja
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/build_command.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/build_command.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/build_command.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/build_file_index.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/build_file_index.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/build_file_index.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/build_model.json
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/build_model.json
/fs_ipneigh30/.cxx/cmake/debug/x86_64/build_model.json
/acsbt/build/.transforms/cbcdd828e22472b77356a835dd380f44.bin
/acsbt/build/.transforms/1d0d6384e0a07d5e57c0170ff7418680/jetified-acsbt-1.0.1-runtime/classes.dex
/acsbt/build/.transforms/3e2de3139c739e4f537381e9212147c9/jetified-acsbt-1.0.1-runtime/classes.dex
/acsbt/build/.transforms/8aef0c2d0a50eeaf954d13cab3bb044b/jetified-acsbt-1.0.1-runtime/classes.dex
/acsbt/build/.transforms/09c208f4f9c95e0cf29989a2de5c9692/jetified-acsbt-1.0.1-runtime/classes.dex
/acsbt/build/.transforms/98f8031c59696546945d79d2973ab2cb/jetified-acsbt-1.0.1-runtime/classes.dex
/acsbt/build/.transforms/212c8398a8879bfabf786ef075d47f0d/jetified-acsbt-1.0.1-runtime/classes.dex
/acsbt/build/.transforms/a32db1f89dd5b29e65665f094c8a6486/jetified-acsbt-1.0.1-runtime/classes.dex
/acsbt/build/.transforms/e69e74d72d451a0afc6c6681c13f933e/jetified-acsbt-1.0.1-runtime/classes.dex
/acsbt/build/.transforms/2ac94e84a6935c02ab1cf0d5557ebb8d/jetified-acsbt-1.0.1/jars/classes.jar
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/cmake.check_cache
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/cmake.check_cache
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/cmake_install.cmake
/fs_ipneigh30/.cxx/cmake/debug/x86_64/cmake_install.cmake
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/cmake_server_log.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/cmake_server_log.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/cmake_server_log.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeCache.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeCache.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeCCompiler.cmake
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/CMakeOutput.log
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeSystem.cmake
/acsbt/build/.transforms/5b8f95124ea887b6b6597939404edf6d/com.acs.bluetooth-r.txt
/acsbt/build/.transforms/6990c05d47db9c5a2ca4b109dc821c62/com.acs.bluetooth-r.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/compile_commands.json
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/compile_commands.json
/fs_ipneigh30/.cxx/cmake/debug/x86_64/compile_commands.json
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/compile_commands.json.bin
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/compile_commands.json.bin
/fs_ipneigh30/.cxx/cmake/debug/x86_64/compile_commands.json.bin
/acsbt/build/.transforms/dbddd7144d083c27dcbb30f8495694e7.bin
/acsbt/build/.transforms/e69e74d72d451a0afc6c6681c13f933e.bin
/acsbt/build/.transforms/f640dac686878323d07432f1e35d3ed0.bin
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.bin
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.c
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.cxx
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.cxx
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/fs_ipneigh30-android.dir/fs_ipneigh.c.o
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/fs_ipneigh30-android.dir/fs_ipneigh.c.o
/fs_ipneigh30/.cxx/cmake/debug/x86/CMakeFiles/fs_ipneigh30-android.dir/fs_ipneigh.c.o
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/fs_ipneigh30-android.dir/fs_ipneigh.c.o
/acsbt/build/.transforms/cbcdd828e22472b77356a835dd380f44/jetified-acsbt-1.0.1.aar
/acsbt/build/.transforms/9745acc8c89f7ee5f9eda876eeb743ee/jetified-acsbt-1.0.1-api.jar
/acsbt/build/.transforms/add774375a91aeddabe5dddc0fbe8fcd/jetified-acsbt-1.0.1-api.jar
/acsbt/build/.transforms/45de60761e2c3d61c645c7bca2ae67e3/jetified-acsbt-1.0.1-runtime.jar
/acsbt/build/.transforms/31495eeee76a99daa3ecba081014ac1b/jetified-acsbt-1.0.1-runtime.jar
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
/fs_ipneigh30/.cxx/cmake/debug/x86_64/json_generation_record.json
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/prefab_config.json
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/prefab_config.json
/fs_ipneigh30/.cxx/cmake/debug/x86_64/prefab_config.json
/acsbt/build/.transforms/2ac94e84a6935c02ab1cf0d5557ebb8d/jetified-acsbt-1.0.1/R.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/rules.ninja
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/rules.ninja
/fs_ipneigh30/.cxx/cmake/debug/x86_64/rules.ninja
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/symbol_folder_index.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/symbol_folder_index.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/symbol_folder_index.txt
/fs_ipneigh30/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
/fs_ipneigh30/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/fs_ipneigh30/.cxx/cmake/debug/x86_64/CMakeFiles/TargetDirectories.txt
/acsbt/build/.transforms/2ac94e84a6935c02ab1cf0d5557ebb8d/jetified-acsbt-1.0.1/res/values/values.xml
